rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }
    function isUserAuthenticated(uid) {
      return request.auth.uid == uid;
    }
    function validId(id) {
      return id.size() > 0 && id.size() <= 20 && id.matches('^[0-9a-z]+$')
    }

    match /user/{uid} {
      allow read: if isAuthenticated();
      allow create: if isUserAuthenticated(uid)
        && validId(request.resource.data.id)
        && request.resource.data.keys().hasOnly(['id']);
      allow update, delete: if false;

      match /img/{imgId} {
        allow read: if isAuthenticated();
        allow create, update, delete: if isUserAuthenticated(uid);
      }
    }

    match /solve/{docId} {
      allow read: if isAuthenticated();
      allow create, update, delete: if false;
    }

    match /ans/{docId} {
      allow read, create, update, delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
